@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}


body{
    font-family:Poppins,sans-serif;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}